<a href="https://colab.research.google.com/github/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/Intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

As you have seen, Python is a very powerful and dynamic programming language with several built-in functions. 

Sometimes, however, importing libraries is essential to perform certain operations without excessive coding from scratch.

Usually, at the beginning of the code or in the first cell of the notebook, you want to import all the libraries that you need.

In [8]:
# In this example, we will be importing the following libraries :
# pandas, 
# numpy, 
# random
# datetime

# let's import them!

import pandas as pd # the aliases speed up the calling the library
import numpy as np
import datetime
import random

# What can Pandas do for you?

Today we will learn:

*   Import data in the form of DataFrames (tables);


* Get info on your imported DataFrames;

* Subset the DataFrame


*   Merge and concatenate data.

# Intro on Pandas DataFrame

## Create DataFrames

In [42]:
df1 = pd.DataFrame({'patient': ['b', 'a', 'c', 'e', 'f'], 'height [cm]': np.random.randint(140, 200, 5)})
df1

  patient  height [cm]
0       b          191
1       a          167
2       c          177
3       e          165
4       f          178

In [43]:
df2 = pd.DataFrame({'patient': ['a', 'b', 'd','f'], 'weight [kg]': np.random.uniform(45, 120, 4)})
df2

  patient  weight [kg]
0       a    72.973967
1       b    93.773525
2       d   118.691769
3       f    67.774012

In [44]:
df3 = pd.DataFrame({'patient': ['b', 'a', 'c', 'd', 'f'], 'shoe size [EU]': np.random.randint(36, 46, 5)})
df3

  patient  shoe size [EU]
0       b              45
1       a              43
2       c              37
3       d              42
4       f              37

#### Create DataFrame from Series

In [55]:
show_size = pd.Series(np.random.randint(36, 46, 5))
patient = pd.Series(['b', 'a', 'c', 'd', 'f'])

In [56]:
patient

0    b
1    a
2    c
3    d
4    f
dtype: object

In [57]:
show_size

0    42
1    40
2    44
3    39
4    40
dtype: int64

In [58]:
df3 = pd.DataFrame()
df3['patient'] = patient
df3['show_size'] = show_size
df3

  patient  show_size
0       b         42
1       a         40
2       c         44
3       d         39
4       f         40

## Data import
First and foremost, let's import some data.

Most of the data you will deal with in this course is in the form of text (.txt), comma separated variables (.csv), tab separated variables (.tsv), excel files (.xlsx), etc.

Pandas will take care of importing different types of data.

It creates different objects to contain the data. We will use DataFrames at first.

#### Importing from web

In [14]:
SNPs = pd.read_csv("https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/CD93_exomeSNPs_annotation.csv")
SNPs

In [66]:
#what happens when you try to upload a tsv file?
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv')

ParserError: ignored

In [81]:
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv', sep='\t')
drugs

     PharmGKB Accession Id  ... PubChem Compound Identifiers
0              PA164712302  ...                          NaN
1              PA134967247  ...                        66414
2              PA131887008  ...                         1615
3              PA165958321  ...                       178014
4              PA165858618  ...                      9571836
...                    ...  ...                          ...
3443              PA451978  ...                         5734
3444               PA10236  ...                         5735
3445           PA164924567  ...                          NaN
3446              PA452606  ...                          NaN
3447              PA452629  ...                      5311507

[3448 rows x 24 columns]

#### Importing from a local drive

In [ ]:
# choose file from your computer (this works only in google colab, not in Jupyter notebook)
from google.colab import files
uploaded = files.upload()
file_name = 'kidpackgenes.csv'

Saving kidpackgenes.csv to kidpackgenes.csv

In [ ]:
import io
genes = pd.read_csv(io.BytesIO(uploaded[file_name]))
# Dataset is now stored in a Pandas Dataframe

#### Importing from Google Drive via PyDrive

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Create a folder on your google drive for this couse (in this case I called it HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L)

In [19]:
!mkdir /content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L

mkdir: cannot create directory â€˜/content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00Lâ€™: File exists

In [20]:
!cd /content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L 
#changes to the folder of interest

In [10]:
directory = '/content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L'
file_name = 'kidpackgenes.csv'

In [21]:
genes = pd.read_csv('%s/%s' %(directory, file_name))
genes

      Unnamed: 0         1         2  ...        85        86        87
0              1 -0.146342 -0.520637  ...  0.550118  0.118934  0.327248
1              2 -0.465767  0.155823  ...  0.463746 -0.514230  0.200956
2              3 -0.088964 -0.208241  ... -0.199880 -0.415793 -0.032004
3              4 -0.327696 -1.714948  ... -0.215536  0.345946  0.056442
4              5 -0.092327 -0.660456  ... -0.491920 -0.722120  0.055477
...          ...       ...       ...  ...       ...       ...       ...
4219        4220 -0.314408  0.131512  ...  0.502573 -0.061042 -0.206210
4220        4221 -0.313823 -0.041095  ...  0.465487  0.024584 -0.264364
4221        4222 -0.091283  0.118607  ...  0.284263 -0.008146 -0.047151
4222        4223 -0.552395  0.125635  ...  0.246017 -0.002329  0.100187
4223        4224 -0.907778 -0.052512  ... -0.179660 -0.712337 -0.193261

[4224 rows x 75 columns]

#### Importing from your computer (on Jupyter Notebook)

In [ ]:
# on Jupyter Lab on your computer, you would add the path of the file
# for instance (in MacOsX )

genes = pd.read_csv('/Users/elisa/kidpackgenes.csv' )

# for instance (in Windows)

genes = pd.read_csv('C:\Documents\kidpackgenes.csv' )

## Get info about your DataFrame

#### Show parts of the DataFrame

In [15]:
SNPs.head(10) #shows you the first n rows of the DataFrame

   Unnamed: 0  ... Chromosome/scaffold position end (bp)
0           0  ...                              23079620
1           1  ...                              23082535
2           2  ...                              23079544
3           3  ...                              23082290
4           4  ...                              23082347
5           5  ...                              23079467
6           6  ...                              23085335
7           7  ...                              23079362
8           8  ...                              23084572
9           9  ...                              23084572

[10 rows x 12 columns]

In [17]:
SNPs.tail(5) # shows the end of the DataFrame

      Unnamed: 0  ... Chromosome/scaffold position end (bp)
2306        2306  ...                              23085689
2307        2307  ...                              23085810
2308        2308  ...                              23086186
2309        2309  ...                              23086256
2310        2310  ...                              23086310

[5 rows x 12 columns]

In [18]:
SNPs.sample(10) # shows random rows of the DataFrame

      Unnamed: 0  ... Chromosome/scaffold position end (bp)
13            13  ...                              23082256
1907        1907  ...                              23082576
1431        1431  ...                              23082335
2203        2203  ...                              23083718
812          812  ...                              23084354
1130        1130  ...                              23079660
660          660  ...                              23085285
911          911  ...                              23085257
257          257  ...                              23084547
1831        1831  ...                              23085608

[10 rows x 12 columns]

#### Show info about size/shape of DataFrame, columns names, data types and null values

In [22]:
SNPs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 12 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               2311 non-null   int64
 1   Variant name                             2311 non-null   object
 2   Variant consequence                      2311 non-null   object
 3   Protein allele                           989 non-null    object
 4   Transcript stable ID                     2311 non-null   object
 5   PolyPhen score                           639 non-null    float64
 6   PolyPhen prediction                      639 non-null    object
 7   SIFT score                               639 non-null    float64
 8   SIFT prediction                          639 non-null    object
 9   Chromosome/scaffold name                 2311 non-null   int64
 10  Chromosome/scaffold position start (bp)  2311 non-null   int64
 11  Chromosome/scaffold position end (bp)    2311 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 216.8+ KB

In [92]:
SNPs.describe()

        Unnamed: 0  ...  Chromosome/scaffold position end (bp)
count  2311.000000  ...                           2.311000e+03
mean   1155.000000  ...                           2.308341e+07
std     667.272558  ...                           2.005379e+03
min       0.000000  ...                           2.307936e+07
25%     577.500000  ...                           2.308174e+07
50%    1155.000000  ...                           2.308388e+07
75%    1732.500000  ...                           2.308512e+07
max    2310.000000  ...                           2.308632e+07

[8 rows x 6 columns]

In [24]:
SNPs.columns

Index(['Unnamed: 0', 'Variant name', 'Variant consequence', 'Protein allele',
       'Transcript stable ID', 'PolyPhen score', 'PolyPhen prediction',
       'SIFT score', 'SIFT prediction', 'Chromosome/scaffold name',
       'Chromosome/scaffold position start (bp)',
       'Chromosome/scaffold position end (bp)'],
      dtype='object')

In [59]:
SNPs.dtypes

Unnamed: 0                                   int64
Variant name                                object
Variant consequence                         object
Protein allele                              object
Transcript stable ID                        object
PolyPhen score                             float64
PolyPhen prediction                         object
SIFT score                                 float64
SIFT prediction                             object
Chromosome/scaffold name                     int64
Chromosome/scaffold position start (bp)      int64
Chromosome/scaffold position end (bp)        int64
dtype: object

In [64]:
# how many null values in the data frame?
SNPs.isna().sum()

Unnamed: 0                                    0
Variant name                                  0
Variant consequence                           0
Protein allele                             1322
Transcript stable ID                          0
PolyPhen score                             1672
PolyPhen prediction                        1672
SIFT score                                 1672
SIFT prediction                            1672
Chromosome/scaffold name                      0
Chromosome/scaffold position start (bp)       0
Chromosome/scaffold position end (bp)         0
dtype: int64

In [61]:
# how many null values in a specific column?
SNPs['PolyPhen prediction'].isna().sum()

1672

# Getting data from DataFrames

#### Get values from one column

In [35]:
SNPs['Variant name']

0             rs7492
1          rs2567612
2          rs2749811
3          rs2749812
4          rs2749813
            ...
2306    rs1600423846
2307    rs1600424016
2308    rs1600424406
2309    rs1600424446
2310    rs1600424486
Name: Variant name, Length: 2311, dtype: object

In [36]:
#columns are Series!!!

type(SNPs['Variant name'])

pandas.core.series.Series

In [37]:
type(SNPs)

pandas.core.frame.DataFrame

#### Get a value from a specific position of the dataframe

When you have the names of the columns, use:


.loc[ ]

In [71]:
# index 10 and column Variant name
SNPs.loc[10, 'Variant name']

'rs3746732'

In [75]:
# a range of rows and column Variant name
SNPs.loc[10:20, 'Variant name']

10    rs3746732
11    rs3803984
12    rs3803985
13    rs3803986
14    rs6048536
15    rs6048537
16    rs6048538
17    rs6048539
18    rs6076019
19    rs6076020
20    rs6076020
Name: Variant name, dtype: object

In [88]:
# a range of rows for all columns
SNPs.loc[10:20, :]

    Unnamed: 0  ... Chromosome/scaffold position end (bp)
10          10  ...                              23084705
11          11  ...                              23080094
12          12  ...                              23081506
13          13  ...                              23082256
14          14  ...                              23082570
15          15  ...                              23083648
16          16  ...                              23085537
17          17  ...                              23085701
18          18  ...                              23083642
19          19  ...                              23085688
20          20  ...                              23085688

[11 rows x 12 columns]

When you have the numerical coordinates, use:

.iloc[ ]

In [74]:
SNPs.iloc[10, 2]

'synonymous_variant'

I want to know the variant consequence of the variant rs3746732

In [78]:
# use a boolean mask as row selection

mask = SNPs['Variant name'] == 'rs3746732'

SNPs.loc[mask, 'Variant consequence']

10    synonymous_variant
Name: Variant consequence, dtype: object

#### Select only specific columns of the DataFrame

In [82]:
drugs_subset = drugs[['PharmGKB Accession Id' ,	'Name', 'Type']] # list of columns!
drugs_subset

     PharmGKB Accession Id  ...        Type
0              PA164712302  ...  Drug Class
1              PA134967247  ...        Drug
2              PA131887008  ...        Drug
3              PA165958321  ...        Drug
4              PA165858618  ...        Drug
...                    ...  ...         ...
3443              PA451978  ...        Drug
3444               PA10236  ...        Drug
3445           PA164924567  ...        Drug
3446              PA452606  ...        Drug
3447              PA452629  ...        Drug

[3448 rows x 3 columns]

### Exercises

#### Exercise 1

Import a csv file from your computer and get the info on column names, size, data types, number of null values per column.

#### Exercise 2

From the DataFrame above, select only the first 4 columns.

#### Exercise 3

Create a dictionary that has as key PharmGKB Accession Id and as values the Name of the drug (dataframe *drugs* from above)

In [70]:
drugs.head()

  PharmGKB Accession Id  ... PubChem Compound Identifiers
0           PA164712302  ...                          NaN
1           PA134967247  ...                        66414
2           PA131887008  ...                         1615
3           PA165958321  ...                       178014
4           PA165858618  ...                      9571836

[5 rows x 24 columns]

In [ ]:
# HINT:
# Use enumerate

#### Exercise 4

Find the row in the file above for aspirin.

# Data wrangling - part 1

### Merge dataframes

In [ ]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how: str = 'inner', on=None, left_on=None, right_on=None, left_index: bool = False, right_index: bool = False, sort: bool = False, suffixes=('_x', '_y'), copy: bool = True, indicator: bool = False, validate=None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [ ]:
pd.merge(df1, df2)

  patient  height  weight
0       b     145      88
1       a     167      58

In [ ]:
pd.merge(df2, df1, how='inner')

  patient  weight  height [cm]
0       a      91          164
1       b     114          157
2       f      83          163

In [ ]:
pd.merge(pd.merge(df2, df1, how='outer'), df3,how='outer')

  patient  weight  height [cm]  shoe size [EU]
0       a    91.0        164.0            38.0
1       b   114.0        157.0            36.0
2       d    48.0          NaN            39.0
3       f    83.0        163.0            36.0
4       c     NaN        148.0            45.0
5       e     NaN        140.0             NaN

In [ ]:
pd.merge(df2, df1, on='patient')

  patient  weight  height [cm]
0       a      91          164
1       b     114          157
2       f      83          163

### Concatenate dataframes

In [ ]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: Union[Iterable[~FrameOrSeries], Mapping[Union[Hashable, NoneType], ~FrameOrSeries]], axis=0, join='outer', ignore_index: bool = False, keys=None, levels=None, names=None, verify_integrity: bool = False, sort: bool = False, copy: bool = True) -> Union[ForwardRef('DataFrame'), ForwardRef('Series')]
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'.
        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionadded:: 0.23.0
        .. versionchanged:: 1.0.0

           Changed to not sort by default.

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    Series.append : Concatenate Series.
    DataFrame.append : Concatenate DataFrames.
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

In [90]:
df = pd.concat([df2, df1, df3], ignore_index=True)
df

   patient  weight [kg]  height [cm]  show_size
0        a    72.973967          NaN        NaN
1        b    93.773525          NaN        NaN
2        d   118.691769          NaN        NaN
3        f    67.774012          NaN        NaN
4        b          NaN        191.0        NaN
5        a          NaN        167.0        NaN
6        c          NaN        177.0        NaN
7        e          NaN        165.0        NaN
8        f          NaN        178.0        NaN
9        b          NaN          NaN       42.0
10       a          NaN          NaN       40.0
11       c          NaN          NaN       44.0
12       d          NaN          NaN       39.0
13       f          NaN          NaN       40.0

#### Exercise 5

Merge the following dataframes

In [91]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})