<a href="https://colab.research.google.com/github/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python general introduction**

## **Basics of Python**

Python is interactive. 
You can run each line of code, one at the time (in terminal, >>>).

In particular, using notebooks such as Google Colab or Jupyter Notebook/Lab lets you write, save and execute code, one cell at the time.

Each line is a "sentence" and it will be executed independently.

Below is a code cell with a short Python script that computes a value, stores it in a variable, and prints the result:

In [ ]:
simple_sum = 1 + 2 + 3
simple_sum

To execute the code in the above cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut **Command/Ctrl+Enter**. 

To edit the code, just click the cell and start editing. Move from cell to cell with up/down arrows.

Variables that you define in one cell can later be used in other cells:

In [ ]:
simple_multiplication = simple_sum * simple_sum
simple_multiplication

##### Exercise

Calculate how many seconds in a day using the variable seconds_in_day and how many seconds in a week using the variable seconds_in_week, from the variable seconds_in_day

In [ ]:
seconds_in_day =

In [ ]:
seconds_in_week =

### Get help


Your python editor is your friend. It opens and closes parenthesis for you, it indents automatically, it colors the text making it easier to visually find what you need.

While you type, using the TAB key in the editor usually gives potential options and completes names/funtions (preexisting variables, arguments in funtions, etc). This saves spelling mistakes: use extensively.

Also, the notebook helps with function and options. Either run help(what_you_are_looking_for) or what_you_are_looking_for?

In [ ]:
help(print)

In [ ]:
print?

##### Exercise

Get help on the function len() and on the function range().

### Errors

Do not freeze with errors. 

Look first what type of error it is (the example below it is a NameError), 
then where it is (convenient ----> pointing to line 1)

If you do not know what they mean, google them.

Error messages will tell you exactly **WHAT** is going wrong and **WHERE**

In [ ]:
problem

### Comments

In [ ]:
# This is a single line comment
# whatever is after the '#' character will not be considered
# keyboard shortcut: select line to comment/decomment and command/control + '/'

##########################################################
###
###
### Comments help with readability of your code.
### Use them extensively to remind yourself in the future why you did something in your code
###
###
##########################################################

### You can be very creative with comments
  #           *     ,MMM8&&&.            *
  #                 MMMM88&&&&&    .
  #                MMMM88&&&&&&&
  #    *           MMM88&&&&&&&&
  #                MMM88&&&&&&&&
  #                'MMM88&&&&&&'
  #                  'MMM8&&&'      *    
  #         |\___/|     /\___/\
  #         )     (     )    ~( .              '
  #        =\     /=   =\~    /=
  #          )===(       ) ~ (
  #         /     \     /     \
  #         |     |     ) ~   (
  #        /       \   /     ~ \
  #        \       /   \~     ~/
  # ____/\_/\__  _/_/\_/\__~__/_/\_/\_/\_/\_/\_
  # |  |  |  |( (  |  |  | ))  |  |  |  |  |  |
  # |  |  |  | ) ) |  |  |//|  |  |  |  |  |  |
  # |  |  |  |(_(  |  |  (( |  |  |  |  |  |  |
  # |  |  |  |  |  |  |  |\)|  |  |  |  |  |  |
  # |  |  |  |  |  |  |  |  |  |  |  |  |  |  |


"""
This is a multiline comment
written in more than one line
and it does not generate an output
"""

print('only this will be printed')  # print is a built-in function that prints the object

### Python Spaces, Lines, and Indentation

Indentation refers to the spaces at the beginning of a code line.

Python uses indentation to indicate a **block of code**. At least one space needs to be used for indentation, although usually 4 spaces or a tab are used.

Also use blank lines and spaces to help readibility.

In [ ]:

a = 0
b = 2
w = 5

if a != b:
  print('a different from b') # notice the indent

In [ ]:
# to write a sentence in more than one line, use \

if a == 0 and b > 1 \
  and b< 5\
  and w  ==5:
    print('line joining 1')
else:
  print("line joining 2")

### Operators

#### Arithmetic

In [ ]:
x = 10
y = 15

In [ ]:
# Addition
x + y

In [ ]:
# Subtraction
x - y

In [ ]:
# Multiplication
x * y

In [ ]:
# Division
x / y

In [ ]:
# Modulus (remainder of the division)
x % y

In [ ]:
# Exponent
x ** y

In [ ]:
# Floor division (result is the quotient in which the digits after the decimal point are removed)
y // x

#### Comparison operators

In [ ]:
# Equal
x == y

In [ ]:
# not equal
x != y

In [ ]:
# greater than
x > y

In [ ]:
# less than
x < y

In [ ]:
# greater than or equal
x >= y

#### Logical operators

In [ ]:
# and: is True if both x and y are true

(x >10 and y >10)

In [ ]:
# or: is True if either x or y is true

(x >10 or y >10)

In [ ]:
# not: If a condition is true then Logical not operator will make false.
not(x >10 or y >10)

#### Assignment operators

In [ ]:
# add the two variables and assign the value to the left variable
x+=y
x

In [ ]:
x+=1
x

### Variables
Variables are reserved memory locations to store values.

A variable can have a short name (like x and y) or a more descriptive name (age, total_volume, glucose, etc). 

Rules for Python variables:


*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) - spaces are not allowed!
*   Variable names are case-sensitive (age, Age and AGE are three different variables)
*   Variable names cannot be in the restricted list

### Reserved words

Do  not use the following words to store variables. They have a meaning and should not be used for other purposes!

In [ ]:
False	
True

None

is
in	

and
or
not

if	
else
elif

while

for

break
pass

try
except 

def	
return
import
as
del 
lambda

class	
from
raise	
with
assert	
finally	
nonlocal	
yield
continue	
global


## **Data types**

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

In [ ]:
this_is_a_string = 'Hello World!'   # A string
also_a_string = "another String"    # A string - ' and " are equivalent
this_is_an_integer = -64            # An integer assignment
this_is_a_float = 123.0             # A floating point number, or float, is a number, 
                                    # positive or negative, containing one or more decimals
also_a_float = 3.45e-5              # A float
this_is_a_boolean = True            # A boolean
also_a_boolean = False              # A boolean

In [ ]:
# multiple assignments
this_is_a_string, this_is_an_integer, this_is_a_float, this_is_a_boolean = 'string', -64, 123.0, True

### Data Structures

**Lists**

In [ ]:
# lists
this_is_a_list = []

In [ ]:
# lists can contain multiple data types
this_is_a_list = ['string'] 
this_is_a_list

In [ ]:
# add objects to a list (as long as they are also in lists)
this_is_a_list = this_is_a_list + ['element'] # + concatenates lists
this_is_a_list = this_is_a_list + [True, False, True] + [35, -123.56]
this_is_a_list

In [ ]:
# remove objects from a list
this_is_a_list.remove('string')
this_is_a_list

In [ ]:
# access one or more element in the list with their index
# remember that python starts to count from 0
print(this_is_a_list)
print(this_is_a_list[0])    # prints the first element of the list
print(this_is_a_list[-1])   # prints the last element of the list
print(this_is_a_list[2:4])  # prints a range of elements based on their indexes (slicing)
print(this_is_a_list[::-2]) # prints every other element in reverse

**Tuples**

Tuples are like lists, except they are immutable (i.e. you cannot change its content once created) and can hold mix data types.

In [ ]:
this_is_a_tuple = ('tuples', 'are', 'immutable')

In [ ]:
print(this_is_a_tuple[2])

**Dictionary**

A dictionary is a container of key:value pairs.
Each object or value accessed by key and keys are unique in the dictionary. As keys are used for indexing, they must be the immutable type (string, number, or tuple). 

You can create an empty dictionary using empty curly braces.

In [ ]:
this_is_a_dict = {
        'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
        'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
        'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
        'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',                
        'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
        'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
        'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
        'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
        'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
        'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
        'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
        'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
        'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
        'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
        'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_',
        'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W'}

In [ ]:
this_is_a_dict['GCG']

In [ ]:
# you can add elements to the dictionary 
this_is_a_dict['element'] = 'something'

**Set**

An unordered collection of **unique** values

In [ ]:
this_is_a_set = {'value', 1, 5, True, 'unique'}

## **Statements**

#### if - elif - else

It executes a set of statements conditionally, based on the value of a logical expression.

In [1]:
x = 10
if x > 10 :  # tests the logical expression
  #does something - execute the statement
  print('x is greater than ten')

  #if the logical expression is not true, does nothing

In [ ]:
# else
if x > 10 :  
  print('x is greater than ten')
else: # if the previous condition is not true, executes this statement
  print('x is less than ten')

In [ ]:
# elif
if x > 10 :  
  print('x is greater than ten')
elif x > 5: # tests another logical expression if the previous is not true
  print('x is greater than five')
# you can have infinite elif logical expressions to test, and if they
else: # if any of the logical expressions are not true, executes this statement
  print('x is less than ten')

#### for loop

for loop is used to iterate over the items of any sequence including the Python list, string, tuple, dictionaries, etc

In [ ]:
sequence = ["Red", "Blue", "Green", "Black"]
for i in sequence:
  # do something
  print(i)
  print("print again", i)

In [ ]:
sequence = range(0,11)

# Python starts to count at 0
for i in sequence:  
  # range is a built-in function that returns a sequence of numbers, 
  # starting from 0 and increments by 1 (by default), the last integer is ignored
  print(i)
  if i in range(3,6):
    print('%s is between 3 and 5' %i)

#### while

A while loop repeateadly executes a block of program until the condition evaluated is False

In [ ]:
x = 0

while x < 10:
  print(x)
  x +=1

In [ ]:
# careful not to enter an infinite loop!
x = 0

while x < 10:
  print(x)

In [ ]:
x = 0

while x < 10:
  print(x)
  x +=1
else:
  print('the loop is over')

In [ ]:
x = 0

while x < 10:
  print(x)
  x +=1
  if x == 5:
    break # finishes the loop

## **Built-in functions**

#### **print()**

In [ ]:
# The Python print function is often used to output variables.

# assign a value to a variable, 
this_is_a_string = 'Hello World!'

print(this_is_a_string)

#### **len()**

In [ ]:
# the function len() outputs the length of the object
len(this_is_a_string)

In [ ]:
# access the last element of the string using len()
this_is_a_string[len(this_is_a_string )-1]

#### **type()**

In [ ]:
# built-in function type() returns the type of object is the one in parenthesis
type(this_is_a_string)

In [ ]:
# built-in function type()
type(this_is_an_integer)

In [ ]:
# built-in function type()
type(this_is_a_float)

In [ ]:
# built-in function type()
type(this_is_a_boolean)

#### **Functions converting objects**

In [ ]:
# built-in function str() converts object into a string
this_is_also_a_string = str(this_is_an_integer)
this_is_also_a_string

In [ ]:
type(this_is_also_a_string)

In [ ]:
# built-in function int() converts object into integer
this_is_also_an_integer = int(this_is_a_float)
type(this_is_also_an_integer)

In [ ]:
# built-in function float() converts object into a float
this_is_also_a_float = float(this_is_an_integer)
type(this_is_also_a_float)

In [ ]:
this_is_also_a_float

In [ ]:
# built-in function abs() returns the absolute value of a number
abs(this_is_also_a_float)

In [ ]:
# obviously functions can be nested
int(abs(this_is_also_a_float))

In [ ]:
# you need a number if you want to convert an absolute number!
abs(this_is_a_string)
# the error you get is a TypeError, because abs() does not accept strings as operands

In [ ]:
# bool() function converts an object into its boolean value
# it will always be True unless:
#   The object is empty, like [], (), {}
#   The object is False
#   The object is 0
#   The object is None
bool(1)

In [ ]:
bool('Am I True?')

In [ ]:
# None is one of the empy objects in Python
bool(None)

In [ ]:
bool(0)

#### **range()**

In [ ]:
for i in range(0, 11):  
  # range is a built-in function that returns a sequence of numbers, 
  # starting from 0 and increments by 1 (by default)
  print(i)

In [ ]:
for i in range(11): 
  print(i)

In [ ]:
for i in range(0, 11, 2): # increments by 2
  print(i)

#### **format()**

In [ ]:
# The format() function formats a specified value into a specified format.

In [ ]:
# Some examples of formats available
# 'g' - General format
# 'e' - Scientific format, with a lower case e
# 'E' - Scientific format, with an upper case E
# 'f' - Fix point number format
# 'F' - Fix point number format, upper case
# 'n' - Number format
# '%' - Percentage format

In [ ]:
x= 3.26e-4
print('{}'.format(x))     # no specifications
print('{:.5f}'.format(x)) # up to the 5th digit
print('{:.5e}'.format(x)) # up to the 5th digit scientific notation
print('{:.5E}'.format(x)) # up to the 5th digit scientific notation uppercase E
print('{:n}'.format(x))   # number
print('{:%}'.format(x))   # percentage

# old format
print('%.5f' %x)
print('%.5e' %x)

#### **input()**

The input() function allows user input.

In [ ]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

## Exercises

In [ ]:
# Write a python program that tells you whether the input is odd or even

number = int(input("This program knows whether the number is odd or even. \nInput a number: "))

condition = # use the modulus operator.... continue....
if #.....

In [ ]:
# Write a Python code that gives you the alternate letters of any word

word = str(input("This code gives you the alternate letters of a word. \nInput the word: "))

print() ### print something...

In [ ]:
# write a code that checks if a string is palindrome, and if so, the output is the repeated

string = input("Input the string to check: ")

string = string.lower() # converts string to lowercase

condition = # logical statement to test if palindrome.... continue ... 

if condition :

  #check whether odd or even to determine how to slice the string
    # continue

  
  print('Yes, it is a palindrome', halfpal)
else:
  print('No, not a palindrome')

In [ ]:
# Print the Fibonacci sequence until the nth position

# A Fibonacci sequence is the integer sequence of 0, 1, 1, 2, 3, 5, 8....
# The first two terms are 0 and 1. 
# All other terms are obtained by adding the preceding two terms. 
# This means to say the nth term is the sum of (n-1)th and (n-2)th term.

nterms = int(input("How many terms? "))

#always initialize variables
Fibonacci_number_n = 0
Fibonacci_number_1 = 0
Fibonacci_number_2 = 1

if nterms <= 0:
  print("Please enter a number greater than zero")

print('Fibonacci sequence:')
if nterms == 1:
  print(Fibonacci_number_1)

if nterms > 1:
  Fibonacci_number_n = Fibonacci_number_1 + Fibonacci_number_2
  print(Fibonacci_number_1)
  print(Fibonacci_number_2)

# continue....

In [ ]:
# Alternative solution to the Fibonacci exercise, resulting in a list

nterms = int(input("How many terms? "))

zero = 0
one = 1
Fibonacci_sequence = [zero, one] # use the last two positions in the sequence to select the two numbers to sum

# continue....

In [ ]:
# translate a sequence of mRNA into protein

mRNA_sequence = 'GGTCAGCAATTGGACTATGAGATCGATTGA'

counter = 0

protein_sequence = '' #always initialize your variables before a loop

# continue....