<a href="https://colab.research.google.com/github/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/Week11/Data_from_Biomart_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Biomart provides info on genes, polymorphisms, sequences, orthology, genomic features and other genetic information (on Homo sapiens and other organisms).

In [ ]:
pip install pybiomart

Collecting pybiomart
  Downloading pybiomart-0.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pybiomart) (2.23.0)
Collecting requests-cache
  Downloading requests_cache-0.8.1-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 2.5 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pybiomart) (0.16.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pybiomart) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pybiomart) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pybiomart) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pybiomart) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pybiomart) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pybiomart) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pybiomart) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pybiomart) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pybiomart) (2021.10.8)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 45.4 MB/s
Collecting url-normalize<2.0,>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: attrs<22.0,>=21.2 in /usr/local/lib/python3.7/dist-packages (from requests-cache->pybiomart) (21.2.0)
Collecting cattrs<2.0,>=1.8
  Downloading cattrs-1.8.0-py3-none-any.whl (24 kB)
Requirement already satisfied: appdirs<2.0.0,>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from requests-cache->pybiomart) (1.4.4)
Installing collected packages: urllib3, url-normalize, cattrs, requests-cache, pybiomart
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed cattrs-1.8.0 pybiomart-0.2.0 requests-cache-0.8.1 url-normalize-1.4.3 urllib3-1.25.11

In [ ]:
import pandas as pd
from pybiomart import Server

In [ ]:
server = Server(host='www.ensembl.org')

In [ ]:
server.list_marts()

                    name            display_name
0   ENSEMBL_MART_ENSEMBL       Ensembl Genes 104
1     ENSEMBL_MART_MOUSE       Mouse strains 104
2  ENSEMBL_MART_SEQUENCE                Sequence
3  ENSEMBL_MART_ONTOLOGY                Ontology
4   ENSEMBL_MART_GENOMIC    Genomic features 104
5       ENSEMBL_MART_SNP   Ensembl Variation 104
6   ENSEMBL_MART_FUNCGEN  Ensembl Regulation 104

# Get information on genes

In [ ]:
mart = server['ENSEMBL_MART_ENSEMBL']
mart.list_datasets()

In [ ]:
dataset = mart['hsapiens_gene_ensembl']

dataset.list_attributes()

                               name  ...                             description
0                   ensembl_gene_id  ...                   Stable ID of the Gene
1           ensembl_gene_id_version  ...        Versionned stable ID of the Gene
2             ensembl_transcript_id  ...             Stable ID of the Transcript
3     ensembl_transcript_id_version  ...  Versionned stable ID of the Transcript
4                ensembl_peptide_id  ...
...                             ...  ...                                     ...
3192    sequence_genomic_coding_end  ...
3193          sequence_constitutive  ...
3194                     cds_length  ...
3195                      cds_start  ...
3196                        cds_end  ...

[3197 rows x 3 columns]

## Exercise
Create a dictionary of gene names to Ensembl Gene IDs

In [ ]:
genes_for_dict_38 = dataset.query(
                                  attributes=['ensembl_gene_id',
                                              'description',
                                              'external_gene_name'])

dict_gene = {}
for i in genes_for_dict_38.itertuples():
    dict_gene[i._3] = i._1

In [ ]:
# Example
dict_gene['APOB']

'ENSG00000084674'

## Exercise 
Create a list of all the genes on chromosome 5, with gene start, gene end, gene description

In [ ]:
dataset.list_filters().head(10)

                                name                    type description
0               link_so_mini_closure                    list
1                    link_go_closure                    text
2  link_ensembl_transcript_stable_id                    text
3                            gene_id                    text
4                      transcript_id                    text
5               link_ensembl_gene_id                    text
6                    chromosome_name                    text
7                              start                    text
8                                end                    text
9                         band_start  drop_down_basic_filter

In [ ]:
def genes_in_chromosome_of_interest(chromosome_number):
  chrom_of_interest = dataset.query(filters={'chromosome_name' : str(chromosome_number) },
                                    attributes=['ensembl_gene_id',
                                                'description',
                                                'external_gene_name',
                                                'chromosome_name',
                                                'start_position',
                                                'end_position'])
  chrom_of_interest = chrom_of_interest[chrom_of_interest['Gene name'].notna()]
  return chrom_of_interest

In [ ]:
genes_in_chromosome_of_interest(5)

       Gene stable ID  ... Gene end (bp)
1     ENSG00000153404  ...        189972
2     ENSG00000199540  ...        144197
3     ENSG00000185028  ...        196334
5     ENSG00000164366  ...        218153
7     ENSG00000073578  ...        257082
...               ...  ...           ...
2981  ENSG00000274553  ...     181331839
2982  ENSG00000250765  ...     181342213
2983  ENSG00000230178  ...     181368262
2984  ENSG00000251035  ...     181379038
2985  ENSG00000213285  ...     181472430

[1837 rows x 6 columns]

# Get information on SNPs

In [ ]:
mart = server['ENSEMBL_MART_SNP']
mart.list_datasets()

                       name                                       display_name
0        mmulatta_structvar              Macaque Structural Variants (Mmul_10)
1                fcatus_snp  Cat Short Variants (SNPs and indels excluding ...
2    hsapiens_structvar_som     Human Somatic Structural Variants (GRCh38.p13)
3   oarambouillet_structvar   Sheep Structural Variants (Oar_rambouillet_v1.0)
4            mdomestica_snp  Opossum Short Variants (SNPs and indels exclud...
5             mmusculus_snp  Mouse Short Variants (SNPs and indels excludin...
6              tguttata_snp  Zebra finch Short Variants (SNPs and indels ex...
7               pabelii_snp  Orangutan Short Variants (SNPs and indels excl...
8         tnigroviridis_snp  Tetraodon Short Variants (SNPs and indels excl...
9         sscrofa_structvar              Pig Structural Variants (Sscrofa11.1)
10        btaurus_structvar               Cow Structural Variants (ARS-UCD1.2)
11          rnorvegicus_snp  Rat Short Variants (SNPs and indels excluding ...
12       hsapiens_structvar             Human Structural Variants (GRCh38.p13)
13         oaries_structvar       Sheep (texel) Structural Variants (Oar_v3.1)
14            ecaballus_snp  Horse Short Variants (SNPs and indels excludin...
15               oaries_snp  Sheep (texel) Short Variants (SNPs and indels ...
16              sscrofa_snp  Pig Short Variants (SNPs and indels excluding ...
17      mmusculus_structvar                 Mouse Structural Variants (GRCm39)
18           mgallopavo_snp  Turkey Short Variants (SNPs and indels excludi...
19             hsapiens_snp  Human Short Variants (SNPs and indels excludin...
20         drerio_structvar             Zebrafish Structural Variants (GRCz11)
21              chircus_snp  Goat Short Variants (SNPs and indels excluding...
22              btaurus_snp  Cow Short Variants (SNPs and indels excluding ...
23               drerio_snp  Zebrafish Short Variants (SNPs and indels excl...
24   clfamiliaris_structvar                Dog Structural Variants (CanFam3.1)
25          scerevisiae_snp  Saccharomyces cerevisiae Short Variants (SNPs ...
26      ecaballus_structvar              Horse Structural Variants (EquCab3.0)
27             mmulatta_snp  Macaque Short Variants (SNPs and indels exclud...
28         clfamiliaris_snp  Dog Short Variants (SNPs and indels excluding ...
29              ggallus_snp  Chicken Short Variants (SNPs and indels exclud...
30            oanatinus_snp  Platypus Short Variants (SNPs and indels exclu...
31          nleucogenys_snp  Gibbon Short Variants (SNPs and indels excludi...
32         ptroglodytes_snp  Chimpanzee Short Variants (SNPs and indels exc...
33        oarambouillet_snp  Sheep Short Variants (SNPs and indels excludin...
34         hsapiens_snp_som  Human Somatic Short Variants (SNPs and indels ...

In [ ]:
dataset = mart['hsapiens_snp']

dataset.list_attributes().head(20)

                          name  ... description
0                    refsnp_id  ...
1                refsnp_source  ...
2    refsnp_source_description  ...
3                     chr_name  ...
4                  chrom_start  ...
5                    chrom_end  ...
6                 chrom_strand  ...
7                       allele  ...
8                    mapweight  ...
9                    validated  ...
10                    allele_1  ...
11                minor_allele  ...
12           minor_allele_freq  ...
13          minor_allele_count  ...
14       clinical_significance  ...
15                synonym_name  ...
16              synonym_source  ...
17  synonym_source_description  ...
18             variation_names  ...
19                  study_name  ...

[20 rows x 3 columns]

In [ ]:
dataset.list_filters()

                              name                    type description
0             link_so_mini_closure                    list
1       link_so_regulation_closure                    list
2            link_so_motif_closure                    list
3                         chr_name                    text
4                            start                    text
5                              end                    text
6                       band_start  drop_down_basic_filter
7                         band_end  drop_down_basic_filter
8                     marker_start  drop_down_basic_filter
9                       marker_end
10              chromosomal_region                    text
11                          strand                    text
12                variation_source                    list
13                      snp_filter                    list
14        variation_synonym_source                    list
15              snp_synonym_filter                    list
16                      study_name                    list
17                      study_type                    list
18           phenotype_description                    list
19                phenotype_source                    list
20                   pub_short_ref                    text
21              variation_set_name                    list
22                 sift_prediction                    list
23                      sift_score                    text
24             polyphen_prediction                    list
25                  polyphen_score                    text
26               minor_allele_freq                    text
27        minor_allele_freq_second                    text
28           clinical_significance                    list
29                  with_validated                 boolean
30         with_variation_citation                 boolean
31          distance_to_transcript                    text
32                    ensembl_gene                    list
33             so_consequence_name                    list
34               feature_stable_id                    list
35  regulatory_so_consequence_name                    list
36                      motif_name                    list
37       motif_so_consequence_name                    list

## Exercise

Find SNPs in chromosome 5 between position 103000kb and 103001kb

In [ ]:
chromosome_number = 5

start = 103000000
end = 103002000
SNPs_of_interest = dataset.query(filters={'chr_name' : str(chromosome_number), 'start': start , 'end' : end},
                                  attributes=['refsnp_id',
                                              'clinical_significance'])

In [ ]:
SNPs_of_interest

     Variant name  Clinical significance
0     rs975110509                    NaN
1     rs922327872                    NaN
2     rs573042954                    NaN
3     rs992200768                    NaN
4    rs1377715158                    NaN
..            ...                    ...
383   rs758471726                    NaN
384    rs79452628                    NaN
385  rs1428814870                    NaN
386  rs1183028118                    NaN
387  rs1334867951                    NaN

[388 rows x 2 columns]