<a href="https://colab.research.google.com/github/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/Intro_to_pandas_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

As you have seen, Python is a very powerful and dynamic programming language with several built-in functions. 

Sometimes, however, importing libraries is essential to perform certain operations without excessive coding from scratch.

Usually, at the beginning of the code or in the first cell of the notebook, you want to import all the libraries that you need.

In [ ]:
# In this example, we will be importing the following libraries :
# pandas, 
# numpy, 

# let's import them!

import pandas as pd # the aliases speed up the calling the library
import numpy as np

# What can Pandas do for you?

Today we will learn:

* Create Series and DataFrames;

*   Import data in the form of DataFrames (tables);


* Get info on your imported DataFrames;

* Subset the DataFrame.

# Intro on Pandas DataFrame

## Create Series

In [ ]:
# Create an empty Series
sr = pd.Series()
sr

In [ ]:
# Create an empty Series, made of objects
sr = pd.Series(dtype = 'object')
sr

In [ ]:
sr = pd.Series(dtype = 'object', index = ['this', 'is', 'an', 'index'])
sr

In [ ]:
shoe_size = pd.Series(np.random.randint(36, 46, 5)) #creates a series with 5 integer values included in the range 36-46
patient = pd.Series(['b', 'a', 'c', 'd', 'f'])

In [ ]:
patient

In [ ]:
shoe_size

## Create DataFrames

In [ ]:
# create and empty dataframe

df = pd.DataFrame()
df

In [ ]:
# create and empty dataframe with specific columns

df = pd.DataFrame(columns = ['these', 'are', 'columns'])
df

In [ ]:
type(df)

In [ ]:
df1 = pd.DataFrame({'patient': ['b', 'a', 'c', 'e', 'f'], # this is the first column
                    'height [cm]': np.random.randint(140, 200, 5)} #this is the second columns
                   
                   )
df1

In [ ]:
df2 = pd.DataFrame({'patient': ['a', 'b', 'd','f'], 
                    'weight [kg]': np.random.uniform(45, 120, 4)})
df2

In [ ]:
df3 = pd.DataFrame({'patient': ['b', 'a', 'c', 'd', 'f'], 
                    'shoe size [EU]': np.random.randint(36, 46, 5)})
df3

#### Create DataFrame from Series

In [ ]:
df3 = pd.DataFrame()
# populate each column
df3['patient'] = patient
df3['shoe size [EU]'] = shoe_size
df3

In [ ]:
df3

## Data import
Finally, let's import some data.

Most of the data you will deal with in this course is in the form of text (.txt), comma separated variables (.csv), tab separated variables (.tsv), excel files (.xlsx), etc.

Pandas will take care of importing different types of data.

It creates different objects to contain the data. We will use DataFrames at first.

#### Importing from web

In [25]:
SNPs = pd.read_csv("https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/CD93_exomeSNPs_annotation.csv")
SNPs

      Unnamed: 0  ... Chromosome/scaffold position end (bp)
0              0  ...                              23079620
1              1  ...                              23082535
2              2  ...                              23079544
3              3  ...                              23082290
4              4  ...                              23082347
...          ...  ...                                   ...
2306        2306  ...                              23085689
2307        2307  ...                              23085810
2308        2308  ...                              23086186
2309        2309  ...                              23086256
2310        2310  ...                              23086310

[2311 rows x 12 columns]

In [29]:
#what happens when you try to upload a tsv file?
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv', sep)

# tsv is a tab-separated file. You need to specify that with the argument sep='\t'
# similar instance if the file is separated by spaces. In the argument you will specify sep =' '

ParserError: ignored

In [ ]:
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv', 
                     sep='\t')
drugs

In [ ]:
# and an excel file?

ETH_workplaces =  pd.read_excel('https://github.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/blob/main/pandas/FS%202021_ETH%20Workplaces%20.xlsx?raw=true')

In [ ]:
ETH_workplaces

#### Importing from a local drive

In [ ]:
# choose file from your computer (this works only in google colab, not in Jupyter notebook)
from google.colab import files
uploaded = files.upload()
file_name = 'kidpackgenes.csv'

In [ ]:
import io
genes = pd.read_csv(io.BytesIO(uploaded[file_name]))
# Dataset is now stored in a Pandas Dataframe

#### Importing from Google Drive via PyDrive

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Create a folder on your google drive for this couse (in this case I called it HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L)

In [ ]:
!mkdir /content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L

In [ ]:
!cd /content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L 
#changes to the folder of interest

In [ ]:
directory = '/content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L'
file_name = 'kidpackgenes.csv'

In [ ]:
genes = pd.read_csv('%s/%s' %(directory, file_name))
genes

#### Importing from your computer (on Jupyter Notebook)

In [ ]:
# on Jupyter Lab on your computer, you would add the path of the file
# for instance (in MacOsX )

genes = pd.read_csv('/Users/elisa/kidpackgenes.csv' )

# for instance (in Windows)

genes = pd.read_csv('C:\Documents\kidpackgenes.csv' )

## Get info about your DataFrame

#### Show parts of the DataFrame

In [ ]:
SNPs.head(10) #shows you the first n rows of the DataFrame

In [ ]:
SNPs.tail(5) # shows the end of the DataFrame

In [ ]:
SNPs.sample(10) # shows random rows of the DataFrame

#### Show info about size/shape of DataFrame, columns names, data types and null values

In [ ]:
SNPs.info()

In [ ]:
SNPs.describe()

In [ ]:
SNPs.columns

In [ ]:
SNPs.index

In [ ]:
SNPs.dtypes

In [ ]:
# how many null values in the data frame?
SNPs.isna().sum()

In [ ]:
# how many null values in a specific column?
SNPs['PolyPhen prediction'].isna().sum()

# Getting data from DataFrames

#### Get values from one column

In [ ]:
SNPs['Variant name']

In [ ]:
#columns are Series!!!

type(SNPs['Variant name'])

In [ ]:
type(SNPs)

#### Get a value from a specific position of the dataframe

When you have the names of the columns, use:


.loc[ ]

In [ ]:
# index 10 and column Variant name
SNPs.loc[10, 'Variant name']

In [ ]:
# a range of rows and column Variant name
SNPs.loc[10:20, 'Variant name']

In [ ]:
# a range of rows for all columns
SNPs.loc[10:20, :]

When you have the numerical coordinates, use:

.iloc[ ]

In [ ]:
SNPs.iloc[10, 2]

#### Broadcasting

I want to know the variant consequence of the variant rs3746732

In [ ]:
# use a boolean mask as row selection

mask = SNPs['Variant name'] == 'rs3746732'

SNPs.loc[mask, 'Variant consequence']

#### Select only specific columns of the DataFrame

In [ ]:
drugs_subset = drugs[['PharmGKB Accession Id' ,	'Name', 'Type']] # list of columns!
drugs_subset

# Save the dataframe with .to_csv()

In [ ]:
# save the dataframe on a specific folder in your google drive
directory = '/content/drive/MyDrive/HS21-Big_Data_Analysis_in_Biomedical_Research_376-1723-00L'

df3.to_csv('%s/example_saved_dataframe.csv' %directory)

In [ ]:
# save the data in google colab space (see the file explorer on the left)

df3.to_csv('/content/sample_data/example_saved_dataframe.csv')
# and then download it
files.download('example_saved_dataframe.csv')

In [ ]:
# on a Jupyter notebook on your computer, simply specify your folder of interest and file

df3.to_csv('/Users/elisa/Documents/file.csv')

# Exercises

#### Exercise 1

Import a csv file from your computer and get the info on column names, size, data types, number of null values per column.

In [14]:
import pandas as pd

# choose file from your computer (this works only in google colab, not in Jupyter notebook)
from google.colab import files
uploaded = files.upload()

Saving 2020.10.20_OLS_parameters_results_prelimIRG1.csv to 2020.10.20_OLS_parameters_results_prelimIRG1.csv

In [15]:
import io
file_name = '2020.10.20_OLS_parameters_results_prelimIRG1.csv'
df = pd.read_csv(io.BytesIO(uploaded[file_name]))

In [7]:
df.columns

Index(['Unnamed: 0', 'patient', 'shoe size [EU]'], dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  87 non-null     int64
 1   rsID        87 non-null     object
 2   trait       85 non-null     object
 3   pvalue      87 non-null     float64
 4   coeff       87 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.5+ KB

#### Exercise 1b

Import an excel file from your computer and do the same as above.

In [10]:
# choose file from your computer (this works only in google colab, not in Jupyter notebook)
from google.colab import files
uploaded = files.upload()

Saving covid19_tpp_gp_numref.xlsx to covid19_tpp_gp_numref.xlsx

In [12]:
import io
file_name = 'covid19_tpp_gp_numref.xlsx'
df = pd.read_excel(io.BytesIO(uploaded[file_name]))

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5139 entries, 0 to 5138
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   code       5139 non-null   object
 1   unit       2664 non-null   object
 2   precision  5139 non-null   int64
dtypes: int64(1), object(2)
memory usage: 120.6+ KB

#### Exercise 2

From the DataFrame above, select only the first 4 columns, and save the dataset as "dataframe.csv" on a new "exercise" folder in your google drive.

In [18]:
df1 = df.iloc[:, 0:4]

In [19]:
df1

    Unnamed: 0      rsID                     trait    pvalue
0            0  rs640192   Hand_grip_strength_left  0.787482
1            1  rs640192  Hand_grip_strength_right  0.412786
2            2  rs640192       Waist_circumference  0.476944
3            3  rs640192         Hip_circumference  0.496807
4            4  rs640192           Standing_height  0.828871
..         ...       ...                       ...       ...
82          82  rs640192                       NaN  0.444491
83          83  rs640192        Blood_pressure_med  0.366268
84          84  rs640192           Cholesterol_med  0.836850
85          85  rs640192                   Insulin  0.233794
86          86  rs640192                       NaN  0.701196

[87 rows x 4 columns]

In [21]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [22]:
!mkdir /content/drive/MyDrive/exercise

In [ ]:
df1.to_csv('/content/drive/MyDrive/exercise/dataframe.csv')

#### Exercise 3

Create a dictionary that has as key PharmGKB Accession Id and as values the Name of the drug (dataframe *drugs* from above)

In [33]:
drugs =  pd.read_csv('https://raw.githubusercontent.com/araldi/HS21---Big-Data-Analysis-in-Biomedical-Research-376-1723-00L-/main/pandas/drugs.tsv', sep = '\t')

drugs

     PharmGKB Accession Id  ... PubChem Compound Identifiers
0              PA164712302  ...                          NaN
1              PA134967247  ...                        66414
2              PA131887008  ...                         1615
3              PA165958321  ...                       178014
4              PA165858618  ...                      9571836
...                    ...  ...                          ...
3443              PA451978  ...                         5734
3444               PA10236  ...                         5735
3445           PA164924567  ...                          NaN
3446              PA452606  ...                          NaN
3447              PA452629  ...                      5311507

[3448 rows x 24 columns]

In [37]:
# HINT:
# Use enumerate
dictionary_drugs = {}
for index, value in enumerate(drugs['Name']):
  dictionary_drugs[drugs.loc[index, 'PharmGKB Accession Id']] = drugs.loc[index, 'Name']

In [ ]:
dictionary_drugs

#### Exercise 4

Find the row in the file above for aspirin.

In [40]:
drugs[drugs['Name'] == 'aspirin']

    PharmGKB Accession Id  ... PubChem Compound Identifiers
387              PA448497  ...                         2244

[1 rows x 24 columns]